
    * {
        font-family: Barlow;
        box-sizing: border-box;
        font-weight: 400;
        transition: all 100ms ease;
        color: inherit;
        image-rendering: -webkit-optimize-contrast;
    }

    body {
        --siteColor: #06243d;
        background-color: #06243d;
        background-color: var(--siteColor);
        color: white;
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .formulario-acesso,
    .container-banners {
        width: 100%;
    }

    .formulario-acesso {
        max-width: 400px;
        padding: 1em 2em;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        margin: 0;
    }

        .formulario-acesso h1 {
            text-align: center;
            font-size: 2em;
            padding-left: 0em;
            line-height: 1em;
            font-weight: 800;
            margin: 0.4em;
            color: inherit;
        }

        .formulario-acesso form {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
            margin: 1em 0 0;
        }

        .formulario-acesso .logo {
            margin: 0em auto;
            width: 7em;
            max-width: 100px;
        }

        .formulario-acesso form label {
            font-size: 1.1em;
            margin: 1em auto 0.5em 0.25em;
            padding-left: 0.4em;
        }

        .formulario-acesso form input {
            border: 0px solid;
            border-radius: 1.3em;
            background: #ffffff45;
            color: white;
            padding: 1em 2em;
            font-size: 0.9em;
            width: 100%;
            outline: 0px;
        }

            .formulario-acesso form input:hover,
            .formulario-acesso form input:focus {
                box-shadow: 0px 0px 0px 0.2em #d0d0d088;
            }

        .formulario-acesso form ::placeholder {
            color: #ffffffb9;
        }

        .formulario-acesso form .obrigatorio {
            position: relative;
        }

            .formulario-acesso form .obrigatorio::after {
                content: " - Obrigatório";
            }

        .formulario-acesso form .opcional {
            position: relative;
        }

            .formulario-acesso form .opcional::after {
                content: " - Opcional";
            }

        .formulario-acesso .botao_acao {
            padding: 0.6em 1.6em;
            margin: auto;
            border-radius: 5em;
            border: 0px solid;
            background-color: #8bb82a;
            color: white;
            font-weight: 600;
            outline: none;
            font-size: 1.1em;
        }

            .formulario-acesso .botao_acao:hover,
            .formulario-acesso .botao_acao:focus {
                background: #55a024;
                cursor: pointer;
            }

        .formulario-acesso .esqueci_senha {
            color: white;
            text-decoration: none;
            margin: 0.5em 0.25em 0 auto;
        }

            .formulario-acesso .esqueci_senha:hover,
            .formulario-acesso .esqueci_senha:focus {
                color: #ee9b19;
                outline: 0;
            }

        .formulario-acesso .versao {
            margin: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

            .formulario-acesso .versao > * {
                font-size: 0.8em;
                margin: auto;
            }

    .container-banners {
        justify-content: center;
        align-items: center;
        display: none;
    }

    .formulario-acesso .redes_sociais {
        display: flex;
        gap: 1em;
        margin: 1em;
        justify-content: center;
        align-items: center;
    }

        .formulario-acesso .redes_sociais > * {
            font-size: 1.2em;
            --corIcone: #185f9d;
            background-color: #fafafa;
            color: var(--corIcone);
            fill: var(--corIcone);
            width: 2em;
            height: 2em;
            max-width: 48px;
            max-height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em;
            border-radius: 100%;
            transition: all 150ms ease;
            text-decoration: none;
            outline: none;
        }

            .formulario-acesso .redes_sociais > *:hover,
            .formulario-acesso .redes_sociais > *:focus {
                background-color: var(--corIcone);
                color: white;
            }

    .formulario-acesso .lembrar_senha {
        font-size: 0.9em;
        display: inline-flex;
        flex-direction: column;
        cursor: pointer;
        width: auto;
        padding: 0;
        margin: 0.5em 0 1.2em 0em;
    }

        .formulario-acesso .lembrar_senha p {
            margin: 0 0 1em;
            font-size: 1.1em;
            padding-left: 0.5em;
            font-weight: 500;
        }

        .formulario-acesso .lembrar_senha .checkbox {
            margin: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .formulario-acesso .lembrar_senha input[type="checkbox"] {
            cursor: pointer;
            border: 1px solid white;
            border-radius: 0.2em;
            background: transparent;
            -webkit-appearance: none;
            appearance: none;
            width: 1em;
            height: 1em;
            padding: 0.25em;
            margin: 0 0.3em 0 0;
            display: grid;
            place-content: center;
        }

            .formulario-acesso .lembrar_senha input[type="checkbox"]:hover,
            .formulario-acesso .lembrar_senha input[type="checkbox"]:focus {
                background: transparent;
                box-shadow: 0px 0px 0px 0.2em #ffffff55;
            }

            .formulario-acesso .lembrar_senha input[type="checkbox"]::before {
                content: "";
                width: 0.5em;
                height: 0.5em;
                border-radius: 0.02em;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em white;
            }

            .formulario-acesso .lembrar_senha input[type="checkbox"]:checked::before {
                transform: scale(1);
            }

    @supports not (gap: 0px) {
        .formulario-acesso .redes_sociais > * {
            margin-right: 1em;
        }
    }

    @media screen and (min-width: 790px) {
        body {
            background-image: url("/LPL/Content/imageskaizen/BG25.jpg");
            background-blend-mode: multiply;
            background-size: cover;
        }

        .container-banners {
            display: flex;
            padding: 1em;
            flex-wrap: wrap;
            gap: 1em;
        }

            .container-banners > * {
                pointer-events: none;
                width: 100%;
                flex-grow: 1;
            }

                .container-banners > *:nth-child(1) {
                    border-radius: 0.5em;
                    margin: auto;
                    max-width: 300px;
                }

        .formulario-acesso {
            background: #052036;
            background: var(--siteColor);
        }

            .formulario-acesso .logo {
                margin: 0 auto;
            }
    }
